/*

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #333;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(1, 58, 87, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: rgb(114, 114, 194);
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.score {
    font-size: 2.0rem;
    font-weight: 400;
}

h1 span {
    font-size: 3.2rem;
    font-weight: 400;
    color: rgb(59, 59, 148);
    
}

h3 span {
    display: flex;
    flex-direction: row;
}
